/*provides the background gradient inplace of an actual image, as i felt this works better*/
body {
    background-image: linear-gradient(to bottom right, rgb(0, 140, 255), rgb(0, 255, 128));
    background-repeat: no-repeat;
  }
  

p {
        font-family: 'Open Sans', Arial; 
        font-weight: 100;  
}
/* Control for the headers format*/
#headers {
  border-style: inset;
  border-color: aquamarine;
  box-shadow: 5px;
  width: 95%;
  padding: 0px;
  text-align: center;
  font-family: 'Open Sans', Arial;
  margin: 0 auto;
}
/*Placement for the hover effects on the nav and links*/
a:hover {
        background-color: rgb(151, 118, 243);
      }
      nav ul {
        display: flex;
        flex-direction: row;
        background-color: aquamarine;
        justify-content:space-evenly;
        align-items: center;
        padding: 0;
        box-shadow: 5px;
    
                
      }
      .hobbies :hover {
        background-color: rgb(151, 118, 243);
    }
/*Contols for the images*/
#image1 {
display: flex;
justify-content: center;
flex-direction: row;
height: 50%;
width: 100%;
margin-bottom: 5px;
}
#image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
#image3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    height: 30vh;
}
/*I had to use a class for this image as it is part of more than on element*/
.image4 img {
    width: 350px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  
/*Section for the lists (not including the nav bar)*/
#funfacts{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.hobbies {
    display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        box-shadow: 5px;
}
.repos{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    box-shadow: 5px;
}
/*Footer Section*/
footer {
    border-style: outset;
    border-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    width: 95%;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    
}




  




  